version: "3"

services:
  app:
    build: ./app/
    depends_on:
      - database
    command: php -S 0.0.0.0:${APP_PORT}
    networks:
      - databasenet
    ports:
      - "${APP_PORT}:${APP_PORT}"
  database:
    build: ./database/
    image: mysql
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    networks:
      databasenet:
        aliases:
          - mysql
  jenkins:
    build:
      context: ./jenkins/
      args:
        DOCKER_GID: ${DOCKER_GID}
    environment:
      JENKINS_ADMIN_ID: ${JENKINS_ADMIN_ID}
      JENKINS_ADMIN_PASSWORD: ${JENKINS_ADMIN_PASSWORD}
      JENKINS_PORT: ${JENKINS_PORT}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "${JENKINS_PORT}:${JENKINS_PORT}"

networks:
  databasenet:
